/* Layout
   ========================================================================== */

*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html
{
    font: 100%/1.5 'Open Sans', sans-serif;
    font-weight: 400;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem)
{
    html
    {
        font-size: 112%;
    }
}

@media (min-width: 64rem)
{
    html
    {
        font-size: 120%;
    }
}

body
{
    color: #555;
    background-color: #fff;
}

.container
{
    width: 90%;
    max-width: 53rem;
    margin: 0 auto;
}


/* Header
   ========================================================================== */

header
{
    text-align: center;

    background-color: #497bad;
}

.intro
{
    margin: 2rem 0;
}

@media (min-width: 40rem)
{
    .intro
    {
        margin: 4rem 0;
    }
}

header h1
{
    font-size: 1.8rem;

    display: inline-block;

    margin-bottom: 2rem;
    padding: .4rem .6rem;

    text-transform: uppercase;

    color: #fff;
    border: 3px solid #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

header p
{
    margin: 0 auto;

    color: rgba(255, 255, 255, .7);
}

header a
{
    text-decoration: underline;

    color: rgba(255, 255, 255, .9);
}

header a:hover
{
    text-decoration: none;
}

.mobile
{
    max-width: 150px;
    margin: 0 auto;
}

@media (min-width: 40rem)
{
    .mobile
    {
        max-width: 250px;
    }
}


/* Section
   ========================================================================== */

section
{
    padding: 2rem 0;

    text-align: center;

    border-top: 1px solid #eee;
}

section:first-of-type
{
    border-top: none;
}

@media (min-width: 40rem)
{
    section
    {
        padding: 4rem 0;
    }
}


/* Mobile First Grid
   ========================================================================== */

.column
{
    margin-bottom: 1.5rem;
}

@media (min-width: 40rem)
{
    .column
    {
        float: left;

        margin: 0;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .column.full
    {
        width: 100%;
    }
    .column.two-thirds
    {
        width: 66.7%;
    }
    .column.half
    {
        width: 50%;
    }
    .column.third
    {
        width: 33.3%;
    }
    .column.fourth
    {
        width: 25%;
    }
    .column.flow-opposite
    {
        float: right;
    }
}


/* Typography
   ========================================================================== */

h1,
h2,
h3,
h4,
h5
{
    font-weight: 600;

    margin: 0;
}

h1
{
    font-size: 1.3rem;
    line-height: 1.3em;

    margin-bottom: 1.5rem;
}

@media (min-width: 40rem)
{
    h1
    {
        font-size: 1.5rem;
    }
}

h3
{
    font-size: 1.2rem;

    margin-bottom: .5rem;
}

p
{
    max-width: 30rem;
    margin: 0 auto;

    color: #999;
}

blockquote
{
    margin: 0;
}

blockquote p
{
    font-style: italic;

    margin-bottom: 1.5rem;

    color: #bbb;
}

cite
{
    color: #bbb;
}


/* Code
   ========================================================================== */

code
{
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: .8rem;

    position: relative;
    top: -1px;

    padding: .1rem .3rem;

    white-space: nowrap;

    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #f8f8f8;
}


/* Lists
   ========================================================================== */

ul
{
    margin: 0;

    text-align: left;
}

@media (min-width: 40rem)
{
    ul
    {
        display: inline-block;
    }
}


/* Links
   ========================================================================== */

a
{
    text-decoration: none;

    color: #497bad;
}

a:hover
{
    text-decoration: underline;
}


/* Buttons
   ========================================================================== */

.button
{
    font-size: 1rem;
    font-weight: 600;

    display: block;

    padding: .7rem 1.5rem;

    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #497bad;

       -moz-appearance: none;
    -webkit-appearance: none;
            appearance: none;
}

.button:hover
{
    text-decoration: none;

    background: #5183b6;
}

@media (min-width: 40rem)
{
    .button
    {
        font-size: .9rem;

        display: inline-block;
    }
}


/* Elements
   ========================================================================== */

hr
{
    width: 3rem;
    margin: 2rem auto;

    border: 0;
    border-top: 1px solid #ddd;
}

@media (min-width: 40rem)
{
    hr
    {
        margin: 2.5rem auto;
    }
}

hr.small
{
    margin: 1.5rem auto;
}

.circle
{
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.7em;

    display: block;

    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto 1rem auto;

    text-align: center;

    color: #555;
    border: 3px solid #555;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

img
{
    display: block;

    width: 100%;
    height: auto;
    margin: 0 auto 1.5rem auto;
}

.rwd
{
    max-width: 440px;
    margin: 0 auto 1.5rem auto;
}


/* Examples
   ========================================================================== */

.example
{
    color: #fff;
    border-top: none;
    background-color: #497bad;
}

.example p
{
    color: rgba(255, 255, 255, .7);
}

.example img
{
    margin: 0;
}

.mobile-first .column
{
    float: none;

    margin-bottom: 1rem;
}

.grid
{
    text-align: center;
}

.grid span
{
    font-size: .9rem;
    font-weight: 600;

    display: block;

    padding: 1rem;

    border: 2px solid rgba(255, 255, 255, .2);
    background: rgba(225, 255, 255, .1);
}

.grid .container
{
    padding: 1rem 1rem 0 1rem;

    border: 2px dashed rgba(255, 255, 255, .3);
}

@media (min-width: 40rem)
{
    .grid .container
    {
        padding: 1rem 0 0 0;
    }
}

.grid .column
{
    margin-bottom: 1rem;
}

.row-example .container
{
    padding: 1rem;

    border: 2px dashed rgba(255, 255, 255, .2);
}

.row-example .row
{
    margin-bottom: 1rem;
    padding: 1rem 1rem 0 1rem;

    border: 2px solid rgba(255, 255, 255, .2);
    background: rgba(225, 255, 255, .1);
}

.row-example .row:last-of-type
{
    margin-bottom: 0;
}

@media (min-width: 40rem)
{
    .row-example .row
    {
        padding: 1rem 0 0 0;
    }
}

.gutters
{
    max-width: 39rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem 0 1rem;

    border: 2px dashed #eee;
}

.gutters .column
{
    margin-bottom: 1rem;

    background: #fb917e;
}

.gutters span
{
    display: block;

    padding: 1rem 0;

    color: #999;
    background: #f8f8f8;
}


/* Box Model
   ========================================================================== */

.box-model h1
{
    margin-bottom: 3rem;
}

.margin
{
    color: #f9cd9d;
}

.border
{
    color: #fce08f;
}

.padding
{
    color: #c2ddb6;
}

.content
{
    color: #9ec3e5;
}


/* Gist Overrides
   ========================================================================== */

.gist .gist-file
{
    font-size: .9rem !important;

    overflow: hidden !important;

    max-width: 39rem;
    margin: 0 auto;

    text-align: left;
}

.gist .gist-file .gist-data
{
    border-bottom: none !important;
    background: #f8f8f8 !important;
}

.gist .gist-file .gist-meta
{
    display: none !important;
}

.gist-syntax .k
{
    font-weight: normal !important;

    color: #555 !important;
}


/* Animate.css by Daniel Eden
   ========================================================================== */

.animated
{
    -webkit-animation-duration: 2s;
       -moz-animation-duration: 2s;
        -ms-animation-duration: 2s;
         -o-animation-duration: 2s;
            animation-duration: 2s;

    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animated.hinge
{
    -webkit-animation-duration: 2s;
       -moz-animation-duration: 2s;
        -ms-animation-duration: 2s;
         -o-animation-duration: 2s;
            animation-duration: 2s;
}

@-webkit-keyframes fadeInUp
{
    0%
    {
        -webkit-transform: translateY(20px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}

@-moz-keyframes fadeInUp
{
    0%
    {
        -moz-transform: translateY(20px);

        opacity: 0;
    }
    100%
    {
        -moz-transform: translateY(0);

        opacity: 1;
    }
}

@-o-keyframes fadeInUp
{
    0%
    {
        -o-transform: translateY(20px);

        opacity: 0;
    }
    100%
    {
        -o-transform: translateY(0);

        opacity: 1;
    }
}

@keyframes fadeInUp
{
    0%
    {
        transform: translateY(20px);

        opacity: 0;
    }
    100%
    {
        transform: translateY(0);

        opacity: 1;
    }
}

.fadeInUp
{
    -webkit-animation-name: fadeInUp;
       -moz-animation-name: fadeInUp;
         -o-animation-name: fadeInUp;
            animation-name: fadeInUp;
}


/* Utilities
   ========================================================================== */

.remove-padding
{
    padding-bottom: 0;
}

.remove-border
{
    border: none;
}


/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}

.clearfix:after
{
    clear: both;
}

.clearfix
{
    *zoom: 1;
}
